.parrent{
  display: flex;
  flex-direction: column;
  .parrent-title
    {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 4%;
    }
  .enfant{
    display: flex;
    align-items: center;

    .enfant-card{
      display: flex;
      flex-direction: row;
      margin: 2%;
    }
  }
}


